.contenedorCheckout {
    color:white;
    background-color:black;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    gap:50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:70px 0px;
}
.containerCard {
    display:flex;
    flex-direction: column;
}
.contenedorHijo1 {
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    margin-top:30px;
    gap:70px;
    
}
.contenedorHijo2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.imagenCheckout {
    height:148px; 
    width:102px;
    align-self:center;
}

.infoProducto {
    display:flex;
    justify-content:space-between;
    margin-top:30px;
    gap:70px;
}
.infoProducto__texto {
    display:flex;
    flex-direction:column;
    gap:10px;
}
.formularioCheckout {
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:flex-start;
    align-items:flex-start;
}
.precioTotalCheckout {
    font-size: 30px;
    margin-top:70px;
}

.botonesCheckout {
    display:flex;
    gap:40px;
    margin-top: 10px;
}
